<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Supplier Id</th>
            <th scope="col">Category Id</th>
            <th scope="col">Quantity p/unit</th>
            <th scope="col">Unit price</th>
            <th scope="col">Units in stock</th>
            <th scope="col">Units on order</th>
            <th scope="col">Reorder level</th>
            <th scope="col">Discontinued</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-danger">Editar</button></td>
            <td><button type="button" class="btn btn-danger">Borrar</button></td>
        </tr>
    </tbody>

</table>