<div class="grid-container" *ngFor="let product of dataSource">
    <div class="grid-item">
    <mat-card class="product-card">
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Supplier ID: {{product.supplierId}}<br>
                Category ID: {{product.categoryId}}<br>
                Quantity per Unit: {{product.quantityPUnit}}<br>
                Unit Price: {{product.unitPrice}}<br>
                Units in stock: {{product.unitsStock}}<br>
                Units on order: {{product.unitsOnOrder}}<br>
                Reorder level: {{product.reorderLevel}}<br>
                Discontinued: {{product.discontinued}}<br>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" class="btn btn-danger" (click)="openEditDialog(product.id)">Edit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger"(click)="deleteProduct(product.id)">Delete</button>
        </mat-card-actions>
    </mat-card>
    </div>
</div>

<br><br>
<button class="btn btn-primary" (click)="openDialog()">Add Product</button>